<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_table_class, "tab_table_active") %>
<!-- end -->

<!-- Hide CheckedIn Button on Pages other than specific booking -->
<% content_for(:nav_checkedin_class, "nav_checkedin_invisible") %>
<!-- end -->

<div class="booking-container">


   <div class="new-booking">
      <div class="card-box">
           <div class="restaurant-header">
            <h1><%= @restaurant.name %></h1>
            <p><%= @restaurant.address %></p>
          </div>

            <div class="container">
              <div class="form-wrapper button-area" style=" padding-right: 18px; margin: 0 auto;">
                <h2>Select Date & Time</h2>

                <%= simple_form_for [@restaurant, @booking]  do |f| %>
                  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.button :submit, "Create Table", class: "button button-long" %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
</div>


