
<div>
  <p><%= @booking.user.first_name %></p>
  <p><%= @booking.user.last_name %></p>
  <p><%= @booking.restaurant.name %></p>
  <p><%= @booking.date %></p>
</div>

<br>
<br>
<br>


<div>
  <p><%= @attendee.user %></p>
  <p><%= @attendee.booking.restaurant %></p>
</div>
