
<div>
  <div class="restaurant-header">
    <h1><%= @booking.restaurant.name %></h1>
    <p><%= @booking.restaurant.address %></p>
  </div>

<!-- TODO: Formatting to be updated given changes done by Spencer in other branch -->
  <div class="card-box-shadow" style="text-align: center; margin: 16px auto; padding: 16px;">
    <p><%= @booking.user.first_name %></p>
    <p><%= @booking.user.last_name %></p>
    <p><%= @booking.date %></p>
  </div>

</div>

<div class="card-medium card-box-shadow ">
  <h3> Add Attendee</h3>
</div>

<div class="card-medium card-box-shadow">
  <h3>View Attendees</h3>
</div>

<div class="card-medium card-box-shadow">
  <h3>Make your selection</h3>
</div>

<div class="card-medium card-box-shadow">
  <h3>Table order</h3>
</div>


