<%  @page_title = "Your Upcoming Tables" %>
<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_table_class, "tab_table_active") %>
<!-- end -->
<!-- Path for back button -->
<% content_for(:nav_back_path_class, "root_path") %>
<!-- end -->
<!-- Partial for the Modal -->
<div class="checkedin-popup hide">
  <%= render 'shared/checkedin' %>
</div>
<!-- end -->
<div class="booking-carousel flex-between" style="position: relative;">
  <% if (@booking_index - 1) >= 0 %>
    <%= link_to restaurant_booking_path(@prev_booking.restaurant, @prev_booking) do %>
      <!-- <div class="carousel-button"> -->
      <div class="carousel-back">
        <p><i class="fas fa-chevron-left"></i></p>
      </div>
      <!-- </div> -->
    <% end %>
  <% else %>
    <div class="carousel-button">
      <p></p>
    </div>
  <% end %>
  <div class="card-box-shadow card-carousel">
    <div class="card-carousel-img">
      <%= cl_image_tag(@restaurant.photo, crop: :fill) %>
    </div>
    <div>
      <%= cl_image_tag(@booking.user.photo, :class => "avatar-booking") %>
    </div>
  </div>
  <% if (@booking_index + 1) <= (@number_bookings - 1) %>
    <%= link_to restaurant_booking_path(@next_booking.restaurant, @next_booking) do %>
      <!-- <div class="carousel-button"> -->
      <div class="carousel-forward">
        <p><i class="fas fa-chevron-right"></i></p>
      </div>
      <!-- </div> -->
    <% end %>
  <% else %>
    <div class="carousel-button">
      <p></p>
    </div>
  <% end %>
  <%# gives the lead booker the option to close the booking as long as there are no orders sent to kitchen -%>
  <% if @booking.user == current_user && @booking.orders.where(ordered: true).length == 0 %>
    <%= link_to restaurant_booking_path(@restaurant, @booking), method: :delete, data: {confirm: "Are you sure?"} do %>
      <p class="close-button"> Close booking </p>
    <% end %>
  <% end %>
</div>

<% if @booking.checkedin == false %>
  <div>
    <p class="checkin-banner">Check in at the restaurant to use Menyoo</p>
  </div>
<% end %>

<div>
  <div class="restaurant-header">
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %></p>
  </div>
  <!-- TODO: Formatting to be updated given changes done by Spencer in other branch -->
  <div class="card-box-shadow" style="text-align: center; margin: 0px auto 24px auto; padding: 16px;">
    <p class="blue-font">Table for <%= @booking.date.to_s(:table_time) %></p>
  </div>
</div>
<%= link_to restaurant_booking_attendees_path(@restaurant, @booking) do %>
  <div class="card-medium card-box-shadow flex-between card-submenu card-booking-index">
    <div class="body-icon"><i class="fas fa-user-friends"></i></div>
    <div class="body-icon">
      <h3>Invite and View attendees</h3>
    </div>
    <div class="body-icon"><i class="fas fa-chevron-right"></i></div>
  </div>
<% end %>
<%= link_to restaurant_path(@restaurant) do %>
  <div class="card-medium card-box-shadow flex-between card-submenu card-booking-index">
    <div class="body-icon"><i class="fas fa-book-open"></i></div>
    <div class="body-icon">
      <h3>View menu</h3>
    </div>
    <div class="body-icon"><i class="fas fa-chevron-right"></i></div>
  </div>
<% end %>
<%= link_to restaurant_booking_summary_path(@restaurant, @booking, @attendees) do %>
  <div class="card-medium card-box-shadow flex-between card-submenu card-booking-index">
    <div class="body-icon"><i class="fas fa-utensils"></i></div>
    <div class="body-icon">
      <h3>Order and Pay</h3>
    </div>
    <div class="body-icon"><i class="fas fa-chevron-right"></i></div>
  </div>
<% end %>
