
<div>
  <p><%= @booking.user.first_name %></p>
  <p><%= @booking.user.last_name %></p>
  <p><%= @booking.restaurant.name %></p>
  <p><%= @booking.date %></p>
</div>

<<<<<<< HEAD
<div class="card-medium card-box-shadow card-large-content">
  <h3> Add Attendee</h3>
</div>

<div class="card-medium card-box-shadow card-large-content">
  <h3>View Attendees</h3>
</div>

<div class="card-medium card-box-shadow card-large-content">
  <h3>Make your selection</h3>
</div>

<div class="card-medium card-box-shadow card-large-content">
  <h3>Table order</h3>
</div>

=======
<br>
<br>
<br>


<div>
  <p><%= @attendee.user %></p>
  <p><%= @attendee.booking.restaurant %></p>
</div>
>>>>>>> e96e83e9212a4f5f389fe981b2fbdb7077e21757
