
<%  @page_title = "Table Order" %>

<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_table_class, "tab_table_active") %>
<!-- end -->

<!-- Partial for the Modal -->
<div class="checkedin-popup hide">
  <%= render 'shared/checkedin' %>
</div>
<!-- end -->


<div class="table-header">
  <h1><%= @restaurant.name %></h1>
  <p class="blue-font">Table opened on <%= @booking.date.to_s(:table_time) %></p>
</div>

<%#= show div with people yet to place order %>
<% if @orders_not_sent_to_kitchen.count > 0 %>
  <div class="card-orders container-to-order">
   <h2>Orders to be placed</h2>
    <% @orders_not_sent_to_kitchen.each do |order| %>
      <div class="card-order-container card-box-shadow">
        <div class="card-small card-order">
          <div class="card-medium-content">
            <strong> <%= order.dish.name %></strong>
            <div class="flex-between">
              <p>Quantity: 1</p>
              <p><%= humanized_money_with_symbol(order.dish.price) %></p>
            </div>
            <div>
              <p> Ordered by: <em><%= order.attendee.user.first_name %></em></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Show Checkin Button or Send to Kitchen Button conditional on checkedin status -->
    <% if @booking.checkedin %>
      <div class="button-area">
        <%= simple_form_for [@restaurant, @booking] do |f| %>
          <%= f.input :ordered, as: :hidden, value: true %>
          <%= f.submit "Send orders to the kitchen", class: "button button-medium" %>
        <% end %>
      </div>
    <% else %>
      <div class="button-area">
        <button class = "button button-checkin-summary checkin-button">Check in to place order</button>
      </div>
    <% end %>
    <%#= button to change order statuses to 'ordered' %>


  </div>
<% end %>




<%#= div with users that have placed their orders%>

<% if @orders_sent_to_kitchen.count > 0 %>
  <div class="card-orders container-ordered">
      <h2>Orders placed with kitchen</h2>
      <% @orders_sent_to_kitchen.each do |order| %>
      <div class="card-order-container card-box-shadow">

          <div class="card-small card-order">
            <div class="card-medium-content">
              <strong> <%= order.dish.name %></strong>
              <div class="flex-between">
                <p>Quantity: 1</p>
                <p><%= humanized_money_with_symbol(order.dish.price) %></p>
              </div>
              <div>
                <p> Ordered by: <em><%= order.attendee.user.first_name %></em></p>
              </div>
            </div>
          </div>
      </div>
      <% end %>
  </div>
<% end %>




<% if @orders.all? {|order| order.ordered == true}  && @attendees.all? {|attendee| attendee.payment == false } %>
  <div class="button-payment button-area">

    <%= form_tag restaurant_booking_pay_path(@restaurant, @booking) do %>
      <article>
        <label class="amount">
          <h2><span>Bill amount: <strong><%= humanized_money_with_symbol(@order_total.to_f) %></span></h2></label></strong>
      </article>
     <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
       data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
       data-name="Table bill"
       data-email="<%= current_user.email %>"
       data-description="Pay Your Bill"
       data-amount="<%= @order_total * 100 %>"
       data-currency="GBP"></script>
      <% end %>
   </div>

<% elsif @attendees.all? {|attendee| attendee.payment == true} %>
    <div class="card-bill-paid">
      <p><h2>Table bill paid</h2></p>
    </div>
<% end %>

<div class="button-area">
  <%= link_to new_restaurant_booking_review_path(@restaurant,@booking) do %>
    <button class = "button button-long">Pay</button>
  <% end %>
</div>









