
<%  @page_title = "Table Order" %>

<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_table_class, "tab_table_active") %>
<!-- end -->

<!-- Partial for the Modal -->
<div class="checkedin-popup hide">
  <%= render 'shared/checkedin' %>
</div>
<!-- end -->


<div class="table-header">
  <h1><%= @restaurant.name %></h1>
  <p class="blue-font">Table opened on <%= @booking.date.to_s(:table_time) %></p>
</div>

<%#= show div with ORDERS NOT YET SENT to kitchen %>

<% if @orders_not_sent_to_kitchen.count > 0 %>
  <div class="card-orders container-to-order">
   <h2>Orders to be placed</h2>

    <% @orders_not_sent_to_kitchen_hash.each do |attendee_id, order_array| %>

      <div class="card-order-container card-box-shadow">
        <h2><%= Attendee.find(attendee_id).user.first_name %>'s order</h2>
        <% order_array.each do |order| %>
          <div class="card-order-container">
            <div class="card-small card-order">
              <div class="card-medium-content">
                <strong> <%= order.dish.name %></strong>
                <div class="flex-between">
                  <p>Quantity: 1</p>
                  <p><%= humanized_money_with_symbol(order.dish.price) %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Show Checkin Button or Send to Kitchen Button conditional on checkedin status -->
    <% if @booking.checkedin %>
      <div class="button-area">
        <%= simple_form_for [@restaurant, @booking] do |f| %>
          <%= f.input :ordered, as: :hidden, value: true %>
          <%= f.submit "Send orders to the kitchen", class: "button button-medium" %>
        <% end %>
      </div>
    <% else %>
      <div class="button-area">
        <button class = "button button-checkin-summary checkin-button">Check in to place order</button>
      </div>
    <% end %>
    <%#= button to change order statuses to 'ordered' %>

    <div class="button-area">
      <%= simple_form_for [@restaurant, @booking] do |f| %>
        <%= f.input :ordered, as: :hidden, value: true %>
        <%= f.submit "Send orders to the kitchen", class: "button button-long" %>
      <% end %>
    </div>
  </div>

<% end %>


<%#= div with users that have SENT ORDERS TO KITCHEN%>

<% if @orders_sent_to_kitchen.count > 0 %>
  <div class="card-orders container-ordered">
      <h2>Orders placed with kitchen</h2>

      <% @orders_sent_to_kitchen_hash.each do |attendee_id, order_array| %>

      <div class="card-order-container card-box-shadow">
        <h2><%= Attendee.find(attendee_id).user.first_name %>'s order</h2>
        <% unless order_array.first.attendee.payment %>
          <%= link_to new_restaurant_booking_review_path(@restaurant,@booking) do %>
            <button class = "button">Pay</button>
          <% end %>
        <% end %>
        <% order_array.each do |order| %>
          <div class="card-order-container">
            <div class="card-small card-order">
              <div class="card-medium-content">
                <strong> <%= order.dish.name %></strong>
                <div class="flex-between">
                  <p>Quantity: 1</p>
                  <p><%= humanized_money_with_symbol(order.dish.price) %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
<% end %>



<% if @orders.all? {|order| order.ordered == true}  && @attendees.all? {|attendee| attendee.payment == false } %>
  <% unless @attendees.find_by(user: current_user).payment  %>
    <%= link_to new_restaurant_booking_review_path(@restaurant,@booking, pay_for_all: true) do %>
    <button class = "button">Pay for all</button>
  <% end %>
  <% end %>

<% elsif @attendees.all? {|attendee| attendee.payment == true} %>
    <div class="card-bill-paid">
      <div class="card-bill-paid-items">
        <i class="far fa-check-circle"></i>
        <p><h2>Table bill paid</h2></p>
      </div>
    </div>
<% end %>

<!-- <div class="button-area">
  <%= link_to new_restaurant_booking_review_path(@restaurant,@booking) do %>
    <button class = "button button-long">Pay</button>
  <% end %>
</div> -->









