<%  @page_title = "#{@user.first_name}'s Profile" %>
<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_user_class, "tab_user_active") %>
<!-- end -->
<!-- Hide CheckedIn Button on Pages other than specific booking -->
<% content_for(:nav_checkedin_class, "nav_checkedin_invisible") %>
<!-- end -->
<div>
  <div class="text-center" style="margin-bottom: 24px;">
    <%= cl_image_tag(current_user.photo, :class => "avatar-extra-large button-area") %>
  </div>
  <!-- Section to show Invitations -->
  <% if @attendee_invitation %>
    <h1>New invitation</h1>
    <div class="card-box-shadow card-large">
      <div class="card-large-img">
        <%= cl_image_tag(@attendee_invitation.booking.restaurant.photo,width: 400, height: 300, crop: :fill) %>
      </div>
      <div class="card-large-content">
        <p><strong> <%= @attendee_invitation.booking.user.first_name %></strong></p>
        <p><strong><%= @attendee_invitation.booking.restaurant.name %></p>
          <p class ="booktime"> <%= @attendee_invitation.booking.date.to_s(:invite_time) %></p>
          <strong></p>
        </div>
        <div class="button-area">
          <%= link_to restaurant_booking_attendee_accept_path(@attendee_invitation.booking.restaurant, @attendee_invitation.booking, @attendee_invitation) do %>
            <button class = "button-invitation button-short invitation-buton">Accept</button>
            <button class = "decbutton button-short invitation-buton">Decline</button>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>No outsanding invitation</p>
    <% end %>
    <div class="card-small card-box-shadow button-area">
      <%= link_to edit_user_registration_path, class: "link" do %>
        <h3 class="user-card-title">Your details</h3>
      <% end %>
    </div>
    <div class="card-small card-box-shadow button-area">
      <%= link_to user_reviews_path(@user), class: "link" do %>
        <h3 class="user-card-title">Your reviews</h3>
      <% end %>
    </div>
    <div class="card-small card-box-shadow button-area">
      <%= link_to user_bookings_path(@user), class: "link" do %>
        <h3 class="user-card-title">Your bookings</h3>
      <% end %>
    </div>
    <div class="card-small card-box-shadow button-area">
      <%= link_to destroy_user_session_path, method: :delete, class: "link" do %>
        <h3 class="user-card-title">Log out</h3>
      <% end %>
    </div>
  </div>