<div class="navbar-ios">
  <div class="navbar-content">
    <div class="navbar-back same-space">
      <%= link_to request.referer.present? ? request.referer : root_path do %>
        <p class="<%= yield(:nav_chevron_class) %>">
          <i class="fas fa-chevron-left"></i>
        </p>
      <% end %>
    </div>
    <div class="navbar-title same-space">
      <% if current_page?('/') %>
        <p class="menyoo-title"><strong>Menyoo</strong></p>
      <% else %>
        <p><strong><%= @page_title %></strong></p>
      <% end %>
    </div>
    <div class="navbar-checkin same-space">
      <% if @booking %>
        <% if @booking.checkedin %>
          <p class="<%= yield(:nav_checkedin_class) %> checkedin-true"><i class="fas fa-toggle-on"></i></p>
        <% else %>
          <p class="<%= yield(:nav_checkedin_class) %> checkin-button"><i class="fas fa-toggle-off"></i></p>
        <% end %>
      <% else %>
        <p class="<%= yield(:nav_checkedin_class) %>"><i class="fas fa-toggle-off"></i></p>
      <% end %>
    </div>
  </div>
</div>