
<div class="booking-container checkedin-modal">


   <div class="new-booking">
      <div class="card-box-shadow modal-box">
           <div class="restaurant-header">
            <h1><%= @restaurant.name %></h1>
            <p><%= @restaurant.address %></p>
          </div>

            <div class="container">
              <div class="form-wrapper button-area" style=" padding-right: 18px; margin: 0 auto;">
                <h2>Select Date & Time</h2>

                <%= simple_form_for [@restaurant, @booking]  do |f| %>
                  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.button :submit, "Create Table", class: "button button-long" %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
</div>
