
<%  @page_title = "Welcome to Menyoo" %>

<p>What are you in the mood for ?</p>
<p>SEARCH BAR</p>
<h1>Featured</h1>
<% @restaurants.each do |restaurant| %>
  <div class="card-box-shadow card-large">
    <div class="card-large-img">
      <%= cl_image_tag(restaurant.photo,width: 400, height: 300, crop: :fill) %>
    </div>
    <div class="card-large-content">
      <%= link_to restaurant_path(restaurant) do %>
        <h3><%= restaurant.name %></h3>
      <% end %>
      <p><%= restaurant.address %></p>
      <p>Category: <%= restaurant.category %></p>
    </div>
  </div>
<% end %>
