
<%  @page_title = "Welcome to Menyoo" %>

<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_home_class, "tab_home_active") %>
<!-- end -->

<!-- Hide back chevron on home page -->
<% content_for(:nav_chevron_class, "nav_chevron_invisible") %>
<!-- end -->

<!-- Hide CheckedIn Button on Pages other than specific booking -->
<% content_for(:nav_checkedin_class, "nav_checkedin_invisible") %>
<!-- end -->

<div class="search-section">
  <%= form_tag restaurants_path, method: :get do %>
    <div class="search-form-control button-area">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "What are you in the mood for ?"
        %>

      <%= submit_tag "Search", class: "button button-medium" %>

    </div>
  <% end %>
</div>

<div class="home-featured-section">
  <div class="home-header flex-between">
    <h1>Featured</h1>
    <div class="map-button">
      <i class="far fa-map"></i>  Search near me
    </div>
  </div>
  <% @restaurants.each do |restaurant| %>
    <div class="card-box-shadow card-large">
      <div class="card-large-img">
        <%= cl_image_tag(restaurant.photo,width: 400, height: 300, crop: :fill) %>
      </div>
      <div class="card-large-content">
        <div class="restaurant-name-card">
          <%= link_to restaurant_path(restaurant) do %>
            <h3><%= restaurant.name %></h3>
          <% end %>
          <div>
            <% if restaurant.avarage_rating.zero? %>
              <p style="color: #1D5CA3; font-size: 10px; width: 50px">No reviews</p>
            <% else %>
            <div class="stars">
              <% restaurant.avarage_rating.round.times do %>
                <i class="rating-stars fas fa-star"></i>
              <% end %>
              (<%= link_to restaurant.reviews.size, restaurant_reviews_path(restaurant) %>)
            </div>
          <% end %>
          </div>
        </div>
        <p><%= restaurant.address %></p>
        <p>Category: <%= restaurant.category %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="home-map-section hide">
  <div class="home-header flex-between">
    <h1>Map</h1>
    <div class="map-button">
      <i class="fas fa-list-ul"></i>
      See Featured
    </div>
  </div>
  <div class="card-box-shadow">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>

