<div class="banner-img">
  <%= cl_image_tag(@restaurant.photo, crop: :fill) %>
</div>

<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>
<p>Latitude: <%= @restaurant.latitude %></p>
<p>Longitude: <%= @restaurant.longitude %></p>

<h2>Menu</h2>

<% @restaurant.dishes.each do |dish|  %>
  <h3><%= dish.name %></h3>
  <%= cl_image_tag(dish.photo, crop: :fill) %>
  <p>Description: <%= dish.description %></p>
  <p>Price: <%= dish.price %></p>
  <p>Prep time: <%= dish.prep_time %></p>
<% end %>

