<%  @page_title = "Restaurant Page" %>

<!-- Conditional formatting of the tab buttons -->
<% if user_signed_in? %>
  <% if any_booking_open_for_user_restaurant?(current_user, @restaurant) %>
    <% content_for(:tab_table_class, "tab_table_active") %>
  <% else %>
    <% content_for(:tab_home_class, "tab_home_active") %>
  <% end %>
<% else %>
  <% content_for(:tab_home_class, "tab_home_active") %>
<% end %>
<!-- end -->

<div class="restaurant-header">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
</div>

<% if user_signed_in? %>

  <% if !any_booking_open_for_user_restaurant?(current_user, @restaurant) %>
    <div class="button-area">
      <%= link_to new_restaurant_booking_path(@restaurant) do %>
        <button class = "button button-long">Open a Table</button>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="button-area">
    <%= link_to new_restaurant_booking_path(@restaurant) do %>
      <button class = "button button-long">Open a Table</button>
    <% end %>
  </div>
<% end %>


<div class="search-section">
  <%= form_tag restaurant_path(@restaurant), method: :get do %>
    <div class="search-form-control button-area">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Healthy or decadent ?"
        %>

      <%= submit_tag "Search", class: "button button-medium" %>
    </div>
  <% end %>
</div>

  <% if @restaurant.reviews.empty? %>
    <button class="button-avarage-rating">No reviews yet</button>
      <% else %>
        <button class="button-avarage-rating"><%= pluralize(@restaurant.reviews.size, "review") %> </button>
  <% end %>


<h2>Menu</h2>


<% @dishes_for_restaurant.each do |dish|  %>
  <div class="card-box-shadow card-large">
    <div class="card-large-img">
      <%= cl_image_tag(dish.photo,width: 400, height: 300, crop: :fill) %>
    </div>
    <div class="card-large-content">
      <h3><%= dish.name %></h3>
      <p> <%= dish.description %></p>
      <div class="flex-between">
        <p><%= humanized_money_with_symbol(dish.price) %></p>
        <p><i class="far fa-clock"></i> <%= dish.prep_time %></p>
        <div>
          <% if user_signed_in? %>
            <% if any_booking_open_for_user_restaurant?(current_user, @restaurant) %>
                <%= simple_form_for [@restaurant, @booking, @attendee, @order] do |f| %>
                    <%= f.input :dish_id , as: :hidden, input_html: { value: dish.id } %>
                    <%= f.input :price , as: :hidden, input_html: { value: dish.price } %>
                    <%= f.submit "Order", class: "btn btn-dark" %>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

