<%  @page_title = "Restaurant Page" %>


<div class="restaurant-header">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
</div>

<div class="button-area">
  <%= link_to new_restaurant_booking_path(@restaurant) do %>
    <button class = "button button-long">Open a Table</button>
  <% end %>
</div>

<div>
  < Search bar - Dishes >
</div>



<h2>Menu</h2>


<% @restaurant.dishes.each do |dish|  %>
  <div class="card-box-shadow card-large">
    <div class="card-large-img">
      <%= cl_image_tag(dish.photo,width: 400, height: 300, crop: :fill) %>
    </div>
    <div class="card-large-content">
      <h3><%= dish.name %></h3>
      <p> <%= dish.description %></p>
      <div class="flex-between">
        <p><%= humanized_money_with_symbol(dish.price) %></p>
        <p><i class="far fa-clock"></i> <%= dish.prep_time %></p>
        <div>
          <% if user_signed_in? %>
            <% if current_user.bookings.count != 0 %>
              <%= simple_form_for [@restaurant, @booking, @attendee, @order] do |f| %>
                  <%= f.input :dish_id , as: :hidden, input_html: { value: dish.id } %>
                  <%= f.input :price , as: :hidden, input_html: { value: dish.price } %>
                  <%= f.submit "Order", class: "btn btn-dark" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

