
<!-- Hide CheckedIn Button on Pages other than specific booking -->
<% content_for(:nav_checkedin_class, "nav_checkedin_invisible") %>
<!-- end -->

<div>
  <%= simple_form_for([@restaurant, @booking, @review]) do |f| %>
   <h1>How was your experience?</h1>
   <br>
   <%= f.input :title %>
   <%= f.input :content %>
   <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
   <%= f.submit "Submit", id: "pay", class: "button button-medium" do%>
   <% end %>
  <% end %>
</div>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
          sessionId: '<%= @payment.checkout_session_id %>'
        });
      });
  </script>

