<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Menyoo</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%#= stylesheet_pack_tag 'map' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  </head>
  <body>
    <div class="container-ios">
      <%= render 'shared/navbar_ios' %>
      <%= render 'shared/flashes' %>
      <!-- screen-content css in _navbar.css with top and bottom navbars -->
      <div class="screen-content">
        <%= yield %>
      </div>
      <%= render 'shared/tabbar_ios' %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
